node_modules
.env
.gitignore
README.md
Dockerfile
build
contracts
tests

accounts.json
attach.sh
clevis.json
contracts.clevis
deploy.log
deploy*.sh
contracts.clevis
customRPCHint.psd
invalidateBadges.sh
mint.sh
run.sh
startLocalRelay.sh     
invalidateBuff.sh
mintZoo.sh
startLocalRelayWithGanache.sh
le.sh
leSelf.sh
stop.sh
contracts
pushToRelay.sh
server.js
tests
xdairelay.js    